In [64]:
import pandas as pd

In [65]:
import numpy as np

In [66]:
df=pd.read_csv("mydata.csv")

In [67]:
df

     UID     name  sales  Age       City Growth         DOJ
0  myd_1     John    100   45         NY    34%  12-11-2017
1  myd_2    Cindy     86   43  New Delhi    12%  01-03-2019
2  myd_3     Carl    230   19         NY    23%  12-12-2020
3  myd_4  Abraham    789   29     Berlin    11%  31-01-2018

In [68]:
df.dtypes

UID       object
name      object
sales      int64
Age        int64
City      object
Growth    object
DOJ       object
dtype: object

In [88]:
class Car:
    def __init__(self, windows,door,enginetype,tyre):
        self.windowCount=windows
        self.doorCount=door
        self.engine=enginetype
        self.tyreType=tyre
        self.totalDoor=door+1
    def tyre_desc(self, tyrewidth):
        self.tyreWidth=tyrewidth
        return ("This car has {} tyres.".format(self.tyreType))+(" Tyre width is {} inches.".format(self.tyreWidth))

In [89]:
car1=Car(4,5,"Petrol","Tubless")

car2=Car(2,3,"Diesel","Tube")

In [90]:
car2.totalDoor

4

In [91]:
car1.tyre_desc(8)

'This car has Tubless tyres. Tyre width is 8 inches.'

In [92]:
class WW(Car):
    def __init__(self,windows,door,enginetype,tyre, ai, hybrid):
        super().__init__(windows, door, enginetype, tyre)
        self.aiAvailable=ai
        self.hybridEngine=hybrid
    def hybridInfo(self):
        return ("This car runs on {} technologies".format(self.aiAvailable)) + (" and has {} engine").format(self.hybridEngine)

In [93]:
ww1=WW(4,5,"Mix","Tubeless","AI", "Hybrid")
ww2=WW(2,3,"Mix","Tubeless","AI", "Non Hybrid")

In [99]:
ww1.tyre_desc(8)

'This car has Tubeless tyres. Tyre width is 8 inches.'

In [100]:
ww2.tyreType

'Tubeless'

In [101]:
ww2.hybridInfo()

'This car runs on AI technologies and has Non Hybrid engine'

In [ ]:
class Check:
    def __init__(self, count, ncount):
        self.count=count
        self.ncounti=ncount

In [ ]:
check1=Check(3,4)

In [ ]:
check1.count
check1.ncounti